In [4]:
import pandas as pd 

#csv to data frame

df= pd.read_csv("../data/dirty_cafe_sales.csv")

print(cafe_sales_df.head())

  Transaction ID    Item Quantity Price Per Unit Total Spent  Payment Method  \
0    TXN_1961373  Coffee        2            2.0         4.0     Credit Card
1    TXN_4977031    Cake        4            3.0        12.0            Cash
2    TXN_4271903  Cookie        4            1.0       ERROR     Credit Card
3    TXN_7034554   Salad        2            5.0        10.0         UNKNOWN
4    TXN_3160411  Coffee        2            2.0         4.0  Digital Wallet

   Location Transaction Date
0  Takeaway       2023-09-08
1  In-store       2023-05-16
2  In-store       2023-07-19
3   UNKNOWN       2023-04-27
4  In-store       2023-06-11

In [9]:
df.nunique()

Transaction ID      10000
Item                   10
Quantity                7
Price Per Unit          8
Total Spent            19
Payment Method          5
Location                4
Transaction Date      367
dtype: int64

In [10]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159